---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "BASE1";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Every partner says they're different. Let us show you that we really are.</h2>
	<p>We're dedicated to advancing your business through transformative commerce and marketing solutions.</p>
	<p>Our teams prioritize your goals, ensuring clear ownership, unmatched precision, and an obsessive commitment to success — with every project.</p>
	<p>
		We're industry-leading experts in SAP Emarsys and SAP Commerce Cloud. We're also experts in Google Cloud Platform, and we're the first Flutter developers to build a commerce-driven native mobile app framework (Flex).
	</p>
</BaseLayout>