---
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

---

<BaseLayout>
	<h2>What's on our mind?</h2>
	<p>We never stop thinking of ways to solve challenges, reduce costs, and improve enterprise commerce experiences.</p>

	<a href="/posts/hybris-accelerator-deprecation">Hybris Accelerator Deprecation</a>
</BaseLayout>
