---
interface Props {
title: string;
}

const { title } = Astro.props;
---

<article class="sl-flex" aria-labelledby="about-flex-heading">
    <small id="about-flex-heading">
        {title}
        <span class="sr-only">Flex</span>
    </small>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 454.92 118.72" style="enable-background:new 0 0 454.92 118.72;" xml:space="preserve"
        fill="var(--sl-color-white)">
        <g>
            <path d="M400.45,38V24.38c6.65-0.28,11.31-0.7,13.97-1.26c4.24-0.89,7.69-2.67,10.35-5.33c1.82-1.82,3.2-4.26,4.14-7.3
  c0.54-1.82,0.81-3.18,0.81-4.07h17.64v101.74h-21.64V38H400.45z" />
            <path d="M26.16,65.36v26.61h24.23c4.33,0,7.7-0.59,10.11-1.76c4.37-2.17,6.56-6.32,6.56-12.46c0-5.19-2.12-8.76-6.36-10.7
  c-2.36-1.08-5.69-1.65-9.97-1.69H26.16z M26.16,26.83v22.01h24.26c4.33,0,7.85-0.82,10.56-2.47c2.7-1.65,4.05-4.57,4.05-8.77
  c0-4.65-1.79-7.72-5.36-9.21c-3.08-1.04-7.01-1.56-11.79-1.56H26.16z M80.36,20.13c3.05,4.24,4.58,9.32,4.58,15.24
  c0,6.09-1.54,10.99-4.62,14.69c-1.72,2.08-4.26,3.97-7.61,5.69c5.09,1.85,8.94,4.79,11.53,8.8c2.59,4.02,3.89,8.89,3.89,14.63
  c0,5.91-1.48,11.22-4.45,15.91c-1.88,3.11-4.24,5.73-7.06,7.85c-3.19,2.44-6.95,4.11-11.28,5.01c-4.33,0.9-9.03,1.35-14.1,1.35
  H6.26V9.5h48.23C66.66,9.68,75.29,13.22,80.36,20.13" />
        </g>
        <path d="M129.38,71.59h25.56l-12.61-39.27L129.38,71.59z M130.76,9.5h23.6l35.31,99.81h-22.62l-6.59-20.52h-36.76l-6.77,20.52H95.13
 L130.76,9.5z" />
        <g>
            <path d="M217.4,78.5c0.64,4.56,1.91,7.97,3.8,10.22c3.45,4.11,9.38,6.16,17.77,6.16c5.02,0,9.1-0.54,12.23-1.62
  c5.95-2.08,8.92-5.94,8.92-11.58c0-3.3-1.46-5.85-4.37-7.65c-2.92-1.76-7.53-3.32-13.86-4.67l-10.81-2.37
  c-10.62-2.35-17.92-4.9-21.89-7.65c-6.73-4.6-10.09-11.8-10.09-21.6c0-8.94,3.29-16.36,9.87-22.28c6.58-5.91,16.24-8.87,29-8.87
  c10.65,0,19.73,2.79,27.24,8.36c7.52,5.57,11.46,13.67,11.83,24.28h-20.04c-0.37-6-3.05-10.27-8.05-12.8
  c-3.34-1.67-7.48-2.51-12.43-2.51c-5.51,0-9.9,1.08-13.19,3.25c-3.28,2.17-4.93,5.19-4.93,9.07c0,3.57,1.62,6.23,4.86,7.99
  c2.08,1.17,6.5,2.55,13.26,4.13l17.51,4.13c7.68,1.81,13.43,4.22,17.26,7.25c5.95,4.69,8.93,11.49,8.93,20.38
  c0,9.12-3.53,16.69-10.58,22.72c-7.05,6.03-17.01,9.04-29.87,9.04c-13.14,0-23.48-2.97-31.01-8.9
  c-7.53-5.94-11.29-14.1-11.29-24.48H217.4z" />
        </g>
        <rect x="295.47" y="9.75" width="75.64" height="17.42" />
        <rect x="295.47" y="92.14" width="75.64" height="17.42" />
        <rect x="295.47" y="48.58" width="75.64" height="17.42" />
    </svg>
    <slot />
</article>

<style>
    article {
        max-width: 40rem;
        margin-inline: auto;
        padding-block: 5rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    article> :global(*) {
        max-width: 50ch;
        margin-top: 0 !important;
    }

    small {
        color: var(--sl-color-gray-3);
    }

    svg {
        width: 15rem;
    }
</style>
